:root {
  --color-neutral: 255, 255, 255;
  --color-neutral-50: 250, 250, 250;
  --color-neutral-100: 245, 245, 245;
  --color-neutral-200: 220, 220, 220;
  --color-neutral-300: 180, 180, 180;
  --color-neutral-400: 140, 140, 140;
  --color-neutral-500: 100, 100, 100;
  --color-neutral-600: 70, 70, 70;
  --color-neutral-700: 45, 45, 45;
  --color-neutral-800: 25, 25, 25;
  --color-neutral-900: 10, 10, 10;
  --color-primary-50: 255, 251, 235;
  --color-primary-100: 254, 243, 199;
  --color-primary-200: 253, 230, 138;
  --color-primary-300: 252, 211, 77;
  --color-primary-400: 251, 191, 36;
  --color-primary-500: 245, 158, 11;
  --color-primary-600: 217, 119, 6;
  --color-primary-700: 180, 83, 9;
  --color-primary-800: 146, 64, 14;
  --color-primary-900: 120, 53, 15;
  --color-secondary-50: 255, 251, 235;
  --color-secondary-100: 254, 243, 199;
  --color-secondary-200: 253, 230, 138;
  --color-secondary-300: 252, 211, 77;
  --color-secondary-400: 251, 191, 36;
  --color-secondary-500: 245, 158, 11;
  --color-secondary-600: 217, 119, 6;
  --color-secondary-700: 180, 83, 9;
  --color-secondary-800: 146, 64, 14;
  --color-secondary-900: 120, 53, 15;
}
